

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  padding:25px;
}

.login-container h1 {
  text-align:center;
  font-size:25px;
  margin-bottom:12px;
}

.login-container p {
  text-align:center;
  padding:0 20px;
  font-size:15px;
  margin-bottom:30px;
}

label {
  display:block;
  margin-bottom:5px;
}

.email-box input {
  width:100%;
  margin-bottom:10px;
  padding:18px 12px;
  border-radius:50px;
  font-size:15px;
  background-color: #F0F0F0;
  border:none;
}

.email-box input::placeholder {
  color:#666;
}

.password-box{
  position:relative;
}

.password-box i{
  position:absolute;
  right: 15px;
  top: 65%;
  transform: translateY(-50%);
}

.password-box input {
  padding-right:40px;
  width:100%;
  padding:18px 12px;
  border-radius:50px;
  font-size:15px;
  border:none;
  background-color: #F0F0F0;
  margin-bottom:12px;
}

.password-box input::placeholder {
  color:#666;
  text-align:left;
} 

.options {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}

input[type="checkbox"]{
  accent-color: #22C55E;
}

.options a {
  text-decoration:none;
  color:red;
  font-size:14px;
  font-weight:500;
}

.remember {
  font-size:14px;
  font-weight:500;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:8px;
}

.sign-in button {
  background-color: black;
  text-align:center;
  color: white;
  border-radius:50px;
  width:100%;
  border:none;
  padding:15px 0;
  font-family: "Open Sans", sans-serif;
  font-weight:500;
  margin-bottom:15px;
}

.divider{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:15px;
  font-weight:500;
  margin-bottom:15px;
}

.divider::before,
.divider::after{
  content: "";
  flex:1;
  height:1px;
  background-color: #d9d9d9;
}

.social-buttons {
  display:flex;
  flex-direction:column;
  gap:10px;
}

.social-buttons button {
  background-color: #F0F0F0;
  color: black;
  border-radius:50px;
  width:100%;
  border:none;
  padding:15px 0;
  font-family: "Open Sans", sans-serif;
  font-weight:500;
}

.social-buttons i {
  margin-right:8px;
  font-size:15px;

}

.signup-text {
  margin-top:50px;
}

.social-buttons a {
  text-decoration:none;
  font-weight:600;
  color: black;
}
